html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    font-family: Helvetica, sans-serif;
}

.wrapper {
    background-color: #222;
    padding-bottom: 15px;
    padding-top: 25px;
}

.menu {
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    font-size: 22px;
    color: #c78c06;
}

.logo  {
    margin-left: 20px;
}

li {
    padding-right: 50px;
    padding-top: 50px;
    margin: 0 10px;
    color: #c78c06;
}

a:link {
    color: #c78c06;
    text-decoration: none;
}

a:visited {
    color: #c78c06;
}

a:hover {
    background-color: #c78c06;
    color:#222;
    padding: 15px;
}

.txtbox {
    font-size: 35px;
    margin-top: -30px;
}

.fa-magnifying-glass {
    font-size: 2rem;
    margin-left: 5px;
}

.welcome {
    width: 95%;
  padding: 20px;
  margin-top: 70px;
  background-color:rgba(0,0,0,0.6);
  
}
.bgimg {
    background-image: url(../images/main-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 5.0rem;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: bold;
    padding-bottom: 25px;
}

.p1 {
   color: white;
   padding-bottom: 22px;
   font-size: 1.3rem;

}

.block {
    background-color: #c78c06;
    padding: 48px;
    font-size: 32px;
}

.fa-play {
    padding-left: 14px;
}

.wrapper3 {
    background-color: #ffe6ac;
    padding: 20px;

}

.aboutusbox {
    margin-bottom: 30px;
}

.p2 {
    font-size: 1.3rem;
    margin-top: 30px;
    line-height: 1.5rem;
    
}

h2 {
    font-size: 4rem;
    font-weight: bold;
}

.pingpong {
    width: 100%;
    padding: 5px;
}

.pv2 {
    font-size: 1.3rem;
    margin-top: 30px;
    line-height: 1.5rem;
    
}

@media screen and (min-width: 760px) {

body {
    font-family: Helvetica, sans-serif;
}

.wrapper {
    background-color: #222;
    padding-bottom: 70px;
    padding-top: 25px;
}

.menu {
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    font-size: 18px;
    color: #c78c06;
}

.logo  {
    float: left;
    margin-left: 100px;
}

li {
    padding-right: 50px;
    padding-top: 30px;
    display: inline-block;
    margin: 0 10px;
    color: #c78c06;
}

a:link {
    color: #c78c06;
    text-decoration: none;
}

a:visited {
    color: #c78c06;
}

a:hover {
    background-color: #c78c06;
    color:#222;
    padding: 15px;
}

.txtbox {
    font-size: 24px;
    margin-left: -40px;
    margin-bottom: -6px;
}

.fa-magnifying-glass {
 margin-left: 
}

.welcome {
    width: 80%;
  padding: 40px;
  margin-left: 100px;
  margin-top: 50px;
  background-color:rgba(0,0,0,0.6);
}

.bgimg {
    background-image: url(../images/main-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 5.5rem;
    width: 1000px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: bold;
    padding-bottom: 25px;
}

.p1 {
   color: white;
   padding-bottom: 20px;
   font-size: 1.3rem;

}

.block {
    background-color: #c78c06;
    padding: 40px;
    font-size: 1.3rem;
}

.fa-play {
    padding-left: 14px;
}

.wrapper3 {
    background-color: #ffe6ac;
    padding: 20px;

}

.aboutusbox {
    margin-right: 130px;
    margin-bottom: 50px;
}

.p2 {
    font-size: 1.3rem;
    margin-top: 30px;
    line-height: 1.5rem;
    
}

h2 {
    font-size: 4rem;
    font-weight: bold;
}

.pingpong {
    float: left;
    width: 600px;
    margin-left: 65px;
    padding: 15px;
}

.pv2 {
    font-size: 1.3rem;
    margin-top: 30px;
    line-height: 1.5rem;
    
}

.box1 {
    background-color: #ffe6ac;

}

.digital {
    width: 500px;
}

.digitalp {
    
}

.box2 {
    background-color: #ffe6ac;

   
}

.marketing {
    width: 500px;
}

.vision {
    background-image: url(../images/vision.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

h4 {
    color:white;
    font-size: 4rem;
}
.p3 {
    color: white;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
}

.john {
    float: left;
}

.team1 {
    background-color: bisque;
    padding-bottom: 278px;
}

.teamgallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

table {
    background-color: aquamarine;
}
}